.poll-view{
    margin: 50px auto;
    width: 70%;
   .ques{
       color: rgb(119, 0, 0);
   } 
   .ques-opt{

    color: #007bff;
    padding: 15px 5px;
    .radio{
        margin: 10px 0;
        padding: 10px 5px;
    }
    .radio:hover{
        background: lightcyan;
   
    }
} 
}